@import "./../../style/variable";

.primary {
  background-color: $color-accent;
  color: $color-white;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px 30px;
  font-weight: bold;
  font-size: 16px;
  &:hover {
    background-color: darken($color-accent, 10%);
  }
}

.secondary {
  background-color: darken($color-background, 10%);
  color: $color-accent;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px 30px;
  font-size: 16px;
  &:hover {
    background-color: darken($color-background, 20%);
    color: darken($color-accent, 10%);
  }

}